<%- include("templates/header", {tituloWeb: 'Pagina de Inicio'}) %>
<body>
   <h1 class="text-center">Almacenamiento e Interfaces</h1>
   <h4 class="text-center"><%= title %></h4>
   <div class="container">
      <div class="row">
         <!-- <%  %> -->
      </div>
   </div>
</body>
<%- include("templates/footer") %>